/* Mine starts here */
body, html { 
   
    /* align-items: center; */
    background-image: linear-gradient(rgb(49, 90, 49), rgb(24, 28, 30));
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* display: grid; */
    /* background-size: cover; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: white;
}

#canvas { 
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: -1;
}

#main, #oath { 
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    align-items: center;
}


img#current-track {
    width: 20rem;
    height: 20rem;
    border: 0px; 
    margin-left: auto;
    margin-right: auto; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* align-items: center; */
}



#main_container { 
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    height: 100%;
    width: 100%;
}

#spotify_components { 
    display: grid;
    text-align: center;
    height: 100%;
    width: 100%;
    /* margin-top: 5em; */
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 1fr 1/2fr 1fr;
    /* align-items: center; */
    /* justify-content: center; */
}

.spotify_player { 
    grid-row-start: 1;
    align-items: center;
    text-align: center;
    /* margin-top: 1em; */
    justify-content: center;
    vertical-align: center;
}

#logged_in { 
    height: 100%;
    width: 100%;
    /* margin: auto; */
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 10px;
    grid-row-start: 1;
}

img { 
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    /* grid-row-start: 1; */

}

#playing_controls { 
    display: grid;
    /* grid-template-columns: repeat(5, minmax(30px, 1fr)); */
    align-items: center;
    text-align: center;
    /* margin: auto;  */
    justify-content: center;
}

#main_player_container { 
    grid-row-start: 2;
    align-items: center;
    text-align: center;
    align-items: center;

}



#time_grid { 
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
} 

#repeat_buttons {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-start: 4;
    grid-gap: 10px;
    text-align: center; 
    align-content: center;
    place-items: center;
} 

/* Buttons */

button { 
    position: relative;
    /* width: 15em; */
    /* padding: 10px 20px;  */
    text-align: center; 
    justify-content: center; 
}


.spotify_button { 
    transition: transform 0.2s ease;
}

.spotify_button:hover { 
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.2rem rgb(9, 143, 20));
}

.spotify_button:active { 
    background-color: #119816;

}

.spotify_controls { 
    /* left: 25%; */
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
}

button.spotify_controls img {
    transition: transform 0.2s ease;
}



button.spotify_controls:hover img {
    transform: scale(1.3);
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}

button.spotify_controls:active img{ 
    opacity: 0.5;
}

.spotify_controls:hover { 
    background-color: transparent;
}

#togglePlay { 
    grid-column: 3 / 4;
    grid-row-start: 1;
}

#fastForward { 
    grid-column-start: 4;
    grid-row-start: 1;
}

#rewind { 
    grid-column-start: 2;
    grid-row-start: 1;
}



